li{
  border-top: none;
  display: flex;
  justify-content: space-between;

  span{
    padding: 5px 10px;
  }
  span:hover{
    cursor: pointer;
  }
  .todo{
    color: darkslateblue;
  }
  .done{
    color: goldenrod;
  }
}
