.toDoBlock{
  width: 50%;
  margin: 50px auto;

  h2{
    text-align: center;

  }
  .routList{
    padding: 0;
    list-style: none;
    display: flex;
    border: 1px solid grey;
    justify-content: flex-end;
    padding: 5px;

    li{
      margin-left: 20px;
      border: none;
    }
    li:hover{
      cursor: pointer;
      color: greenyellow;
    }
    .active{
      color: blueviolet;
    }
  }
}
